
#editable {
  border-collapse: collapse;
}


#editable th, #editable td {
  text-align: left;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: #A9DEF9;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  background-color: aliceblue;
}

button:hover {
  background-color: powderblue;
}

.rounded-input:hover {
  border-color: #555; 
}

#table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px; 
  margin: 0 auto;
}
