.navbar-custom {
    background-color: cornsilk;
}

body {
    background-color: cornsilk;
    overflow-x: hidden;
}

.contact-form button{
    color: #fff;
    background: rgb(243, 73, 107);
    font-weight: 600;
    transition: 0.3s ease;
}