* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    color: black;
    width:100%;
    height: max-content;
    background-color: white;
}

header {
    height: 60px;
    background-color: aliceblue;
    width: 100%;
    z-index: 12;
    position: fixed;

}

.logo {
    position: fixed;
    margin-left: 40px;
    margin-top: 11px;
    width: 39px;
}

nav {
    float: right;
    line-height: 65px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0 10px;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 3%;
}

nav a:hover {
    color: #A9DEF9;
}

.active {
    color:#A9DEF9 !important
}

.banner {
    width: 100%;
    height: 450px;
    position: fixed;
    top: 60px;
    background-image: url(project_images/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}


.banner h1{
    font-size: 100px;
    letter-spacing: 3px;
    font-family: 'Inter', sans-serif;
    color:white;
    text-align: center;
    padding:110px 0;
}

.content {
    width: 100%;
    position: relative;
    top: 350px;
    background: #A9DEF9; 
    height: 2500px;
}

.content h2 {
    text-align: left;
    padding-top: 3%;
    letter-spacing: 1px;
    margin-left: 10%;
    font-size: 115px;
    font-weight: 1500;
    font-family: 'Inter', sans-serif;
}

.content h3 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    color: #A9A9A9;
    line-height: 30%;
    font-weight: lighter;   
    margin-left: 19%;
    font-size: 35px;

}

.content p {
    padding: 1.6%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 120%;
    margin-left: 8.3%;
    margin-top: 18px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.content button {
    background-color: #F7D6E0;
    border-radius: 70px;
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 10%;    
    margin-top: 10px;
}

.regButton {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.read_more {
    margin-left: 33%;
    float: left;
    margin-top: 20px;
}

.read_more a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    white-space: pre;
}

.read_more hr {
    color: black;
    height: 3px;
    background-color: black;    
}

.sliderblock {
    padding: 20px;
    margin-top: 70px;
    margin-left: 3%;
}

.slider-look {
	max-width: 90%;
	margin: auto auto;
}

.slider {
	display: flex;
    aspect-ratio:  16 / 5.5;
	overflow-x: scroll;
	scroll-snap-type: x;
    scroll-behavior: smooth;
	border-radius: 50px;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	object-fit: cover;
    scroll-snap-align: start;
}

.events h3 {
    color: black;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 3%;
    letter-spacing: 1px;
    margin-left: 10%;
    font-size: 70px;
    font-weight: 1500;
    font-family: 'Inter', sans-serif;
}

.events table {
    border-collapse: collapse;
    width: 85%;
    margin: 30px auto;
}

tr {
    height: 150px;
}

tr:first-child {
    height: 50px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: black;
    font-size: large;
    font-family: 'Inter', sans-serif;
}

td:nth-child(odd) {
    width: 350px;
}

a {
    text-decoration: none;
    font-size: 20px;
    white-space: pre;
    color: black;
}

.partners h3 {
    color: black;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 3%;
    letter-spacing: 1px;
    margin-left: 10%;
    font-size: 70px;
    font-weight: 1500;
    font-family: 'Inter', sans-serif;
}

.partners-list {
    padding: 0;
    margin-left:80px;
}

.partners-list li {
    padding: 0;
    margin: 0;
}

.partners-list img {
    max-width: 100px;
    height: auto;
    margin-right: 30px;
    position: relative;
    top: 40px;
} 

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: salmon;
}

.heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.1);
}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 25px;
    margin-bottom: 15px;
}

.about-content p{
    font-size: 20px;
    line-height: 1.5;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: salmon;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: rgb(219, 30, 87);
}