body{
    margin: 0;
    background-color: #A9DEF9;
}
.navbar-custom {
    background-color: aliceblue;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
    margin-top: 7px;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    max-width: 100%;
    object-fit: contain;
    height: 14em;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
.listProduct .item h2{
    margin-top: 10px;
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    font-size: small;
}
.listProduct .item button{
    background-color: #F7D6E0;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}



/* cart */
.cartTab{
    width: 400px;
    background-color: #F7D6E0;
    color: black;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 2000;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: cornsilk;
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 80%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(1, 1fr);
    }
}


#search-container {
    margin-top: 4em;
    background-color: #A9DEF9;
    padding: 10px;
    margin-left: 4%;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: black;
}
#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #F7D6E0;
    color: black;
    border-radius: 5px;
    margin-top: 0.5em;
}



.button-value {
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    padding: 10px 35px;
    border-radius: 3em;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.checkoutLayout .right{
    background-color: #F7D6E0;
    border-radius: 20px;
    padding: 40px;
    color: black;
}

.checkoutLayout .list img{
    height: 70px;
}

.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid slateblue;
    padding-bottom: 20px;
}
.checkoutLayout .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input,
.checkoutLayout .form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: white;
    color: black;
}

.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .row div:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    background-color:white ;
}

.returnCart h1{
    border-top: 1px solid #eee;
    padding: 20px 0;
}
.returnCart .list .item img {
    height: 80px;
}

.returnCart .item{
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #555;
    border-radius: 20px;
}

.returnCart .item .name,
.returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}